.InformationUser{
    margin-top: 110px;
    background-color: #F4F4F4;
}

.btn-update{
    margin-left: 38.5%;
    transform: translateX(-50%);
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.btn-close:hover{
    background-color: red;
}